[Unit]
Description=Session log locker

[Service]
Type=oneshot
ExecStart=/opt/log-locker.sh
MemoryMax=64MB
TasksMax=64

[Install]
WantedBy=multi-user.target