[Unit]
Description=Locks history files in home directories

[Service]
Restart=always
Type=simple
ExecStart=/opt/hist-locker.sh
ProtectSystem=strict
ReadWritePaths=/home
RefuseManualStop=yes
MemoryMax=128MB
TasksMax=128
RestrictSUIDSGID=yes
CapabilityBoundingSet=
ProtectKernelModules=yes
ProtectKernelLogs=true
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes
ProtectProc=invisible
SystemCallArchitectures=native
RestrictAddressFamilies=
NoNewPrivileges=yes
PrivateDevices=yes
PrivateUsers=true