[Unit]
Description=Real-time AuditD parser
After=auditd.service

[Service]
Restart=always
Type=simple
ProtectSystem=full
ReadOnlyPaths=/bin /sbin /usr /etc /boot /home
ExecStart=/opt/auditdez.sh

# Change to any value to interpret and print non-interactive commands
Environment="INTERPRET_NONINTERACTIVE="

# Change to stdout/file path to log to stdout/aforementioned file path
Environment="OUT_WHERE=stdout"

# Human-friendly output (human) or JSON (json) output?
Environment="OUT_TYPE=huamn"

[Install]
WantedBy=multi-user.target